extends ../layout

block Content
  include ../menu
  .particles
  .tpanimate
    //p.numParticles
    .point
  #container.main
    #article
    div(class="article-ul",article-length="#{article.length}")
      each val,index in article
        if index < showNum && index > showNum - 21
          .article-li
            span(class="right time-tutle")= (val.articleTime ? val.articleTime : "")
            a(href="/article/#{val._id}",eq="#{(index)}")= (val.title ? val.title : "标题为空")
            -var art_ct = val.subTitle ? val.subTitle : ""
            .articleP !{art_ct}
            //.toHexString()
    div(class="pagelist")
      - for (var x = 0,y = 1; x < article.length; x++)
        if x % 20 === 0 && x != 0 && y < 6
          if x == showNum
            a(href="###",class="active") !{y++}
          else
            a(href="?pagenum=#{x}") !{y++}
        else if x == article.length - 1 && x % 20 > 1
          a(href="?pagenum=#{x+1}") !{y++}
  script.
    var left_start_num = 0;
    var move_num = 0;
    function show_star(){move_num = left_start_num++;$(".tpanimate .point").eq(0).clone().css({"top" : Math.sin(move_num) * 50 + 50,"left" : move_num*20,"opacity" : move_num*.01}).appendTo(".tpanimate");if(move_num*20 > $(".tpanimate").width()){left_start_num = 0;}if($(".tpanimate .point").length > 20){$(".tpanimate .point").eq(0).remove();}}
    //setInterval(show_star,10);